# Dependencies
node_modules/
/.pnp
.pnp.js

# Production Builds
dist/
dist-ssr/
build/
out/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel / Deployment
.vercel

# Debug & Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & System Files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Scratch
.temp/
.tmp/
scratch/
